.card-footer
{
    display: flex;
    width: 100%;
    /* border: 1px solid; */
    justify-content: space-between;
}

.card-footer p
{
    font-size: 18px;
 font-weight: bold;
}
.slick-slide >div
{
    margin: 5px 15px;
}
.main-div
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px;
}